<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sopt.BeautyPocket">
    //지도
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".application.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //구글지도
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />
        //카카오
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="" />

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".map.MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".map.LocationService" />

        <receiver android:name=".map.LocationReceiver" />

        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login.KakaoSignupActivity" />
        <activity
            android:name=".detail.RegisterComplete"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detail.UpdateInformation"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wishlist.WishlistActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".register.RegisterActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".brandselect.BrandSelect"
            android:label="@string/title_activity_brand_select"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wishlist_brand.WishlistBrand"
            android:label="@string/title_activity_wishlist_brand"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.sale.SaleDetailActivity"
            android:label="@string/title_activity_sale_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".calender.SaleCalendarActivity"
            android:label="@string/title_activity_sale_calendar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.sale.SaleListActivity"
            android:label="@string/title_activity_sale_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".more.MoreActivity"
            android:label="@string/title_activity_more"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".more.Company"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".more.GogagCenter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".more.Notice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".more.Version"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".detail.WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
    </application>

</manifest>
